
  /* Hides element as if it's not there (compare with "visibility: hidden;"). */
  /* display: none; */
  /* visibility: hidden; */

  .fixed {
      position: fixed;
  }

  .absolute {
      position: absolute;
      left: 50%;
  }