
  /* Hides element as if it's not there (compare with "visibility: hidden;"). */
  /* display: none; */
  /* visibility: hidden; */
* {
    box-sizing: border-box;
}

body {
    font-size: 24px;
    line-height: 32px;
    color: #333;
}

div {
    text-align: center;
}

.fixed {
    position: fixed;
    padding: 40px;
    margin: 0;
    background-color: #eee;
}

.wrapper {
    width: 600px;
    padding: 20px;
    margin: 0 auto;
}

  .absolute {
      position: absolute;
      left: 50%;
  }