
  /* Hides element as if it's not there (compare with "visibility: hidden;"). */
  /* display: none; */
  /* visibility: hidden; */
* {
    box-sizing: border-box;
}

body {
    font-size: 24px;
    line-height: 32px;
    color: #333;
}

div {
    text-align: center;
}

.fixed {
    position: fixed;
    padding: 40px;
    margin: 0;
    background-color: #eee;
}

.wrapper {
    width: 600px;
    padding: 20px;
    margin: 0 auto;
}

h1 {
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 45px;
}

p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 28px;
 }

 .relative {
     /* position: relative; */
     /*is this needed? i think so...*/
     height: 200px;
     padding: 20px;
     margin-bottom: 20px;
     background-color: #eee;
 }

.absolute {
    position: absolute;
    right: -30px;
    bottom: 0;
    width: 250px;
    padding: 20px;
    background-color: #999999
    /*difference between background and background-color?*/
}