body {
/*this targets the body tag in the html*/

    margin: 0;
    /* sets margins (areas around the outside of the element) to zero. */

    line-height: 1.5;
    /*set the height of the line (the box around the line)
     to 50% more than original font size*/

    text-transform: uppercase;
    /*transforms the text to uppercase*/

    background-color: rgb(19, 180, 180);
    /*sets the background color*/

    font-family: Arial, Helvetica, sans-serif;
    /*sets the font family. Fails from left (Arial)
    to right (sans-serif)*/

    color: white;
    /*sets text color*/
}

h1 {
/*selects h1 tags in the html*/

    font-weight: bold;
    /*sets weight (text line thickness)*/
}

.dark {
/*selects class (the .) of dark in html*/

    font-size: 10px;
    /*sets font size to 10 pixels*/

    color: black;
    /*sets font color to black, overwritting the above "white" color*/
}

.big {
/*targets class of big*/

    font-size: 45px;
    /*sets font size to 45 pixels*/

    font-weight: bolder;
    /*sets font weight to "bolder", overwrites the above "bold"*/
}

main {
/*targets the "main" tag*/

    text-align: center;
    /*aligns text to the vertical center of the "main" element*/

    margin-top: 200px;
    /*sets the top margin without changing the other sides
    overwrites the margin: 0 above*/
}

button {
/*targets the "button" tag*/

    text-align: left;
    /*aligns the text of the "button" to the left in the "button"*/

    border-radius: 10px;
    /*set border radius to 10 pixels
    this creates a rounded edge to the button
    this happens by making a rounded edge to the element based on
    a circle with a radius of 10 pixels (in this case)*/
   
    /* color: white; */
    /*sets the text of the button to white
    this is because the default button text is black?*/
   
    background-color: transparent;
    /*set the background of the button to transparent
    this overwrites the default button?*/
   
    text-transform: uppercase;
    /*transforms the text to uppercase*/
}