.box {
    width: 800px;
    height: 660px;
    background: grey;
    margin: 0;
    overflow: hidden;
}

.row {
    display: flex;
    align-items: center;
    width: 800px;
    height: 165px;
    background: lightgrey;
}

button {
    width: 180px;
    height: 150px;
    margin: 20px;
    font-size: 140px;
}

.negate {
    font-size: 100px;
}

.viewscreen {
    /* display: none; */
    margin: 0;
    background-color: grey;
    position: fixed;
    top: 7px;
    right: 4px;
    height: 660px;
    width: 300px
}