.box {
    width: 800px;
    height: 664px;
    background: grey
}

.row {
    display: none;
    align-items: center;
    width: 600px;
    height: 166px;
    background: lightgrey;
}

button {
    width: 180px;
    height: 150px;
    margin: 20px;
    font-size: 140px;
}

.negate {
    font-size: 100px;
}

.operands {
    /* display: inline; */
    /* position: fixed; */
    left: 600px;
}