* {
    box-sizing: border-box;
    text-align: center;
}

body {
    color: #333;
    font-size: 24px;
    line-height: 32px;
    /* margin: 10px; */
}

header {
    background-color: #FFA500;
    padding: 20px;
    margin-bottom: 20px;
}

section {
    padding: 20px;
    margin-bottom: 20px;
}

#left, #middle, #right {
    width: 33.333333%;
    float: left;
}

#left {
    background-color: #30948d;
}

#middle {
    background-color: #9e1212;
}

#right {
    background-color: #30948d;
}

#full {
    background-color: #394549;
    overflow: auto;
}

aside {
    background-color: #a6b747;
    width: 33.3333%;
    height: 210px;
    float: left;
    margin-left: 40px;
    color: wheat;
}

#division {
    background-color: #6ea3da;
    margin-top: 30px;
    color: wheat;
    padding: 20px;
}

footer {
    background-color: #FFA500;
    padding: 20px;
}

/*i need to study clearfix again*/
.clearfix {
    content: "";
    display: block;
    clear: both;
}