div {
    margin: 10px;
}

p {
    font-size: 1.4em;
}

/* a space is for all descendents*/
#div1 p {
    background-color: black;
    color: white;
}

/* > is for child elements */
#div2 > p {
    background-color: cyan;
    color: red;
}

/* the ~ is for general siblings */
#div1 ~ p {
    color: blue;
}

/* the + is for adjacent siblings */
#div2 + p {
    background-color: yellow; 
}