@media screen and (max-width: 1000px) {
    body {
        background: #333;
        color: antiquewhite;
    }

    img {
        display: none;
    }

    .col-lg-12 {
        background: darkred;
        color: dimgrey;
        font-size: 200%;
    }
}